body {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0;
 }
 .item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
 }
 fieldset {
  background: #f0f0f0; /* Цвет фона */
  width: 300px; /* Ширина блока */
  padding: 10px; /* Поля */
  border: 2px solid #000; /* Параметры рамки */
 }
 
 h1, h2, p {
  font-family: sans-serif;
 }